<% if issue.status == 0 %>
  <div class="status-circle status-yellow status-circle-aligned"></div>
  <div class="text-center"><small>Pending</small></div>
<% elsif issue.status == 1 %>
  <div class="status-circle status-green status-circle-aligned"></div>
  <div class="text-center"><small>In Progress</small></div>
<% elsif issue.status == 2 %>
  <div class="status-circle status-blue status-circle-aligned"></div>
  <div class="text-center"><small>Completed</small></div>
<% elsif issue.status == 3 %>
  <div class="status-circle status-red status-circle-aligned"></div>
  <div class="text-center"><small>Declined</small></div>
<% elsif issue.status == 4 %>
  <div class="status-circle status-purple status-circle-aligned"></div>
  <div class="text-center"><small>Paused</small></div>
<% elsif issue.status == 5 %>
  <div class="status-circle status-gray status-circle-aligned"></div>
<% end %>