<div class="container margin-top-2">
  <div class="main-box">
    <div class="row">
      <div class="pull-right">
        <%= button_to('+ Report an Issue', new_issue_url, :method => :get, :class => 'btn btn-warning') %>
      </div>
    </div>
    <div class="row">
      <div class="page-header">
        <h3>All Issues</h3>
      </div>
      <%= render 'issues', :all_issues => @paginated_issues %>
      <%= will_paginate @paginated_issues, renderer: BootstrapPagination::Rails %>
    </div>
  </div>
</div>