<div class="container margin-top-2">
  <div class="main-box">
        <%= render 'issues', :all_issues => @paginated_issues %>
        <%= will_paginate @paginated_issues, renderer: BootstrapPagination::Rails %>
  </div>
</div>