.main-box {
  border: 1px solid #DDDDDD;
  padding: 32px 32px 32px 16px;
  border-radius: 0 12px 12px 12px;
  height: 80vh;
}

.nav-tabs {
  border-bottom: 0;
}

.nav-tabs > li > a {
  border-radius: 8px 8px 0 0;
  background-color: #DBEDEF;
  border-width: 1px;
}

div.issue-entry {
  margin-bottom: 24px;
  height: 128px;
}

.margin-top-1 {
  margin-top: 1%;
}

.margin-top-2 {
  margin-top: 2%;
}

.margin-top-4 {
  margin-top: 4%;
}

.margin-top-8 {
  margin-top: 8%;
}

.margin-top-16 {
  margin-top: 16%;
}

.margin-top-32 {
  margin-top: 32%;
}

.status-circle {
  border-radius: 50%;
  width: 32px;
  height: 32px;
}

.status-circle-aligned {
  margin: 0 auto;
  margin-top: 32px;
}

.status-yellow {
  background-color: #F3EF11;
}

.status-green {
  background-color: #4FBF3A;
}

.status-blue{
  background-color: #1318BF;
}

.status-red {
  background-color: #BF0007;
}

.status-purple {
  background-color: #970079;
}

.issue-detail {
  margin: 32px;
}

.issue-detail-description {
  font-style: italic;
  margin: 16px 0 24px 0;
}

.issue-detail-status-label {
  margin-left: 16px;
  font-size: 18px;
  line-height: 32px;
}